img {
  width: 100%;
}
.product {
  width: 30%;
  border: 1px solid saddlebrown;
  margin: 10px 1px;
  padding: 5px;
  position: relative;
  border-radius: 10px;
}
.rating {
  display: flex;
  justify-content: left;
  align-items: center;
}
.addCart {
  width: 95%;
  padding: 15px;
  cursor: pointer;
  font-size: larger;
  position: absolute;
  bottom: 0;
  border: solid red;
  border-radius: 10px 5px 20px 30px;
}
